@import './variables.scss';

.all-articles a {
  color: $black;
}

.read-one-image > img {
  float: none !important;
  height: auto !important;
  width: 100% !important;
  max-height: 600px;
}
.image-place {
  float: none !important;
  height: auto !important;
  width: 100% !important;
  max-height: 600px;
}

.hamburger-menu {
  font-size: 40px;
}
.hamburger-menu:hover {
  color: #cdcdcd !important;
  transition: 0.5s ease;
  cursor: pointer;
}

.user-view-one {
  display: flex;
  flex-direction: row;
}

.one-menu {
  padding-left: 100px;
  padding-right: 20px;
}

#user-name {
  font-size: 20px;
  padding-right: 10px;
}

.user-view-one a {
  text-decoration: none !important;
  color: $black;
}

.description-text {
  font-size: 22px;
}

.body-text {
  font-size: 18px;
}

.flip-box {
  background-color: transparent;
  width: 350px;
  height: 400px;
  border: 1px solid $bordergray;
  margin-bottom: 20px;
  margin: 10px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-back {
  overflow: hidden !important;
  transform: rotateY(180deg);
}

.home-card {
  height: 100% !important;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 0px !important;
  margin-bottom: 0 !important;
  margin-left: 0px !important;
}

.homepage-card-image {
  height: 250px !important;
}

.flip-card-body {
  max-height: 270px;
  margin-bottom: 20px;
  overflow: hidden !important;
}

#card-title {
  text-decoration: underline;
  font-style: bold !important;
  font-weight: 900;
}

.bookmarks {
  font-size: 2.5em;
  color: black;
  margin-left: 1.2em;
}

.socialShare {
  margin-top: 1%;
  text-align: right;

  &-twitter,
  &-facebook {
    height: 5%;
    width: 5%;
    margin-right: 1%;
  }
  &-mail {
    height: 4.7%;
    width: 4.7%;
  }
}
.pagination {
  display: flex;
  justify-content: center;
}

.page-link {
  cursor: pointer;
}

.active-page {
  color: white !important;
  background-color: blue !important;
}

@media (max-width: 767px) {
  .bookmarks {
    font-size: 2em;
    color: black;
    margin-left: 0.1em;
  }
}

.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}
#report-article {
  cursor: pointer;
}

.react-confirm-alert-button-group > button:first-child {
  border: 1px solid $delete-red;
  background-color: white;
  color: black;
}

.react-confirm-alert-button-group > button:first-child:hover {
  background: #f44336;
  color: white;
}

.react-confirm-alert-button-group > button:nth-child(2) {
  border: 1px solid $blue;
  background-color: white !important;
  color: black;
}

.react-confirm-alert-button-group > button:nth-child(2):hover {
  background: $blue !important;
  color: white;
}

#report-error {
  color: red !important;
}

.reason-title {
  text-decoration: underline;
}
