@import './variables.scss';
.navbar-light {
  background-color: white !important;
  box-shadow: $box-shadow;

  .logo {
    width: 3%;
    height: 3%;
    margin-left: 5px;
    margin-right: 15px;
  }
}

.align-rt {
  text-align: right !important;
}

@media (max-width: 768px) {
  .dropdown-custom {
    margin-top: 0.2em !important;
  }
}

@media (max-width: 1024px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }

  .nav-link {
    text-align: center;
    margin-right: 10px;
  }
}

.navbar-collapse.collapse {
  display: contents !important;
}

.navbar-nav > li,
.navbar-nav {
  float: right !important;
}

.navbar-right {
  float: right !important;
}

.custom-nav-lo {
  display: flex;
}

.nav-link {
  padding-right: 15px;
}

.navbar-custom {
  display: flex;
}
