@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300&display=swap');
body {
  font-family: 'Josefin Sans', cursive;
}

.profile-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
