.box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.box-form{
  width: 25vw;
}

.box-form-button{
  width: 9vw;
}

.submit{
  align-items: center;
}
