$box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.5);
$box-shadow-grey: rgba(0, 0, 0, 0.5);
$background: #cecece;
$blue: #3472d6;
$skyblue: #12aaeb;
$white: #fff;
$shadeblue: #0062cc;
$darkgray: #333;
$shadegray: #495057;
$lightgray: #818182;
$shadebrown: #53443f;
$rouge: #756a66;
$embossed-light: rgba(0, 0, 0, 0.1);
$facebook-blue: #4c69ba;
$facebook-blue-dark: #3b55a0;
$facebook-blue-light: #354c8c;
$facebook-blue-lighter: #364e92;
$light-blue: #5b7bd5;
$lighter-blue: #4864b1;
$google-red: #dd4b39;
$google-red-dark: #bb3f30;
$google-red-light: #e74b37;
$input-light-gray: #111f255e;
$black : black;
$bordergray: #f1f1f1;
$cardgray: #bbb;
