$box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.5);
$background: #cecece;
$blue: #3472d6;
$skyblue: #12aaeb;
$white: #fff;
$shadeblue: #0062cc;
$darkgray: #333;
$shadegray: #495057;
$lightgray: #818182;
$shadebrown: #53443f;
$rouge: #756a66;
$wrapper-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
